/*====Home====*/
.logo{
    margin-top: 50px;
    text-align: center;
}
.heading{
    font-size: 50px;
    text-align: center;
    background-color: dimgray;
    color: white;
}
.intro{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.img{
    width: 24%;
    height: 300px;
}
.video{
    text-align: center;
}
.buttons{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    padding: 15px 35px 15px 35px;
}
.read_button{
    text-align: center;
    font-size: 20px;
    background-color: cornflowerblue;
    padding: 15px 35px 15px 35px;
    
}
/*===About===*/
.about_heading{
    font-size: 30px;
    text-align: center;
    padding: 15px 35px 15px 35px;
    background-color: cornflowerblue;
}
/*===Service===*/
.image{
    text-align: center;
}
